div {
    display: inline-block;
    height: 100px;
    width: 100px;
    padding-top: 20px;
}

.div-1 {
    background-color: red;
}
.div-2 {
    background-color: yellow;
}
.div-3 {
    background-color: yellow;
}
.div-margin {
    margin: 50px;
}
#div_1 {
    color: white;
}
#div_2 {
    color: aqua;
}
#div_3 {
    color: blue;
}

h1 {
    color: blue;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.flexbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 500px;
}

@media only screen and (min-width: 820px) {
    h1 {
        display: none;
    }
    div {
        display: none;
    }
    
}